body {
    background-color: #e8e7e7;
}

.container {
    align-items: center; 
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    width: 800px;
}

.box-imagem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa-1 {
    height: 300px;
    margin-bottom: 100px;
  
    justify-content: center;
    align-items: center;
}

.verification-photo {
    max-width: 100%;
    width: 200px;
    height: 200px;
}

.tittle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
    text-align: center;
    color: #a2a2a2
}

.box-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px
} 

.link-button {
    color: #444;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    
}

.link-button:hover{
    transition: 0.5;
    color: #d95f80
}
@media screen and (max-width: 899px){
    .container{
        width: 600px;
    }
    h1.tittle{
        text-align: center;
        font-size: 1.7rem;
    }

}
@media screen and (max-width: 720px){
    .container{
        width: 500px;
    }
    h1.tittle{
        text-align: center;
        font-size: 1.7rem;
    }
}
@media screen and (max-width: 616px){
    .container{
        width: 400px;
        height: 300px;
    }
    h1.tittle{
        text-align: center;
        font-size: 1.5rem;
    }
    img.verification-photo{
        width: 150px;
        height: 150px;
    }

}
@media screen and (max-width: 520px){
    .container{
        width: 250px;
    }
    h1.tittle{
        text-align: center;
        font-size: 1.5rem;
    }
}
