@media screen and (max-width: 395px){
    .menu-hamburguer {
      display: block;
  }
  header{
    display: flex;
    flex-direction: column;
  }
  header img{
    width: 160px;
  }
  .logo-pesquisa #pesquisa{
    margin-top: 14px;
    width: 180px;
    height: 30px;
  }
  label.menu-icon {
      color: #fff;
      display: flex;
      justify-content: center;
  }
  .menu {
      display: none;
      top: 50px;
      left: 0;
      background-color: var(--vermelho);
      width: 100%;
      padding: 10px 0;
      
  }
  
  .menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 0px;
      
  }
  
  .menu ul li {
      text-align: center;
      
  }
  
  .menu ul li a {
      padding: 10px;
      color: #fff;
      text-decoration: none;
      padding-right: 0;
  }
  .menu ul li a:hover{
    color: #d95f80;
  }
  
  .menu-toggle:checked + .menu-icon + .menu{
      display: block;
  }
  main:checked{
  }
  li .material-symbols-outlined{
    display: none;
  }
 }



 
.menu-hamburguer {
    margin: auto;
  }
  
  /* Ícone do menu */
  .menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .menu-toggle{
    display: none;
  }
  nav.menu ul a{
    padding-top: 0;
    padding-bottom: 0;   
  }
  nav.menu{
    padding-top: 0;
  }
  div #icon_local{
    margin-left: 15px;
  }
  
header ul{
  display: flex;
  justify-content: space-between;
}

