@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
h1{
    font-family: "Zen Dots";
    color: black;
}
p{
    font-family: sans-serif;
}

* {
    margin: 0;
}

.logo {
    width: 210px;
    padding: 0px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    max-width: 100%;
    width: 100%;
    height: 100%;
  
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f5f5f5;
  }
  
  :root {
    --vermelho: #401c26;
    --cinza: #d9d9d9;
  }
  
  header {
    display: flex;
    background-color: var(--vermelho);
    box-sizing: border-box;
  }
  #navegacao {
    margin: auto;
    /*justify-content: space-between;*/
  }
  .logo-pesquisa{
    display: flex;
    gap: 20px;
  }
  .logo-pesquisa #pesquisa {
    margin: 17px 20px 0px 0px;
    width: 350px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 1.2rem;
  }
  ul {
    display: flex;
    gap: 80px;
  }
  
  li {
    list-style: none;
    color: #fff;
    
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  a:hover {
    opacity: 0.5s;
    color: #d95f80;
    transition: 200ms;
  }
  
  .login {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #icon_ingresso {
    margin-left: 38px;
  }
  
  #icon_produto {
    margin-left: 35px;
  }
  
  #icon_local {
    margin-left: 45px;
  }
  
  #icon_profile {
    margin-left: 16px;
  }
  
#seta{
    padding: 60px;
}
.titulo{
    display: flex;
    gap: 10px;
    padding: 40px;
}
main{
    width: 800px;
    margin: auto;
    height: 100%;
    border-radius: 15px;
    box-shadow: 1px 1px 1px gray;
    display: block;
}
main #img_princiapal{
    margin: auto;
    display: flex;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
}
.localizacao{
    background-color: #D9D9D9;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 30px;
}
.decidir-local{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
main a{
    color: black;
}
#icon_local{
    color: #d95f80;
  }
.li-1 a{
    color: #d95f80;
}  
@media screen and (max-width: 816px){
    main{
        width: 600px;
    }
    .localizacao{
        gap:20px
    }
    #seta{
        padding: 20px;
    }
}
@media screen and (max-width: 545px) {
    h1{
        font-size: 1.4rem;
        display: flex;
        align-items: center;
    }
}
@media screen and (max-width: 616px){
    main{
        width: 400px;

    }
    .localizacao{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 425px){
    h1{
        font-size: 1rem;
        display: flex;
        align-items: center;
    }
}
@media screen and (max-width: 416px){
    main{
        width: 300px;

    }
}
@media screen and (max-width: 370px){
    ul{
        margin: 0;
        padding: 0;
    }
}
/*HEADER*/
@media screen and (max-width: 1238px){
    ul{
      gap: 40px;
    }
    .logo-pesquisa{
      gap: 0px;
    }
    .logo-pesquisa #pesquisa {
      margin: 17px 0px 0px 0px;
      width: 270px;
      height: 35px;
      padding: 10px;
      border-radius: 10px;
      outline: none;
      border: none;
      font-size: 1.2rem;
    }
    header{
      gap: 10px;
    }
  }
  @media screen and (max-width: 981px){
    header {
      display: flex;
      background-color: var(--vermelho);
      flex-direction: column;
    }
    .logo-pesquisa{
      display: flex;
      margin: auto;
      gap: 120px;
    }
    .logo-pesquisa #pesquisa{
      margin: 17px 0px 0px 0px;
    }
    ul{
      gap: 120px;
    }
  }
  @media screen and (max-width: 741px){
    ul{
      gap: 60px;
    }
    .logo-pesquisa{
      display: flex;
      justify-content: space-between;
      gap: 0px;
    }
    header {
      display: flex;
      background-color: var(--vermelho);
      flex-direction: column;
    }
  }
  @media screen and (max-width: 566px){
    ul{
      gap: 25px;
      width: 100%;
    }
    .logo-pesquisa #pesquisa {
      margin: 17px 0px 0px 0px;
      width: 170px;
      height: 35px;
      padding: 10px;
      border-radius: 10px;
      outline: none;
      border: none;
      font-size: 1.2rem;
    }
    .logo-pesquisa #navegacao{
    }
  }