@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
body{
    background-color: #f9f9f9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo {
    width: 210px;  
}
a{
    font-family: "Zen Dots";
    color: black;
    text-decoration: none;
}
 
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    list-style: none;
    padding-right: 20px;
}
header li a{
    font-family: "Zen Dots";
}
 
.etapas-compra{
    background-color: rgb(255, 255, 255);
    width: 65px;
    height: 65px;
    margin: auto;
    border-radius: 50%;
    border: solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: rgb(168, 168, 168) 2px;
}
.etapas-compra2{
    background-color: rgb(255, 255, 255);
    width: 65px;
    height: 65px;
    margin: auto;
    border-radius: 50%;
    border: solid #bf5672 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
#caixa {
    padding-top: 60px;
    text-align: center;
    display: flex;
}
.etapas-compra img{
    margin: auto;
    width: 50px;
    height: 50px;
    padding-top: 7px;
    display: flex;
}
.etapas-compra2 img{
    margin: auto;
    width: 50px;
    height: 50px;
    padding-top: 7px;
    display: flex;
}
.etapas-compra p{
    font-family: "Zen Dots";
    font-size: 0.8rem;
    color: rgb(168, 168, 168) 2px;
}
.etapas-compra2 p{
    font-family: "Zen Dots";
    font-size: 0.8rem;
    color: #bf5672;
}
main{
    margin: auto;
    display: flex;
    width: 100%;
    padding-top: 50px;
}

#sessao {
    width: 100%;
    margin: auto;

}

.caixa-principal{
    margin: auto;
    width: 100%;
}
.caixa-principal h1{
    text-align: center;
    font-family: "Zen Dots";
    font-size: 1.4rem;
    font-weight: 100;
}
.cinema{
    max-width: 710px;
    width: 100%;
    /* height: 400px; */
    background-color: black;
    border-radius: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-bottom: 8px;
}
/* .cinema .numeros{
    color: white;
    font-family: "Zen Dots";
    text-align: center;
    font-size: 2rem;
    letter-spacing: 10px;
    padding: 10px;
}
.cinema .letras{
    flex-direction: column;
    color: white;
    font-family: "Zen Dots";
    font-size: 2rem;
    padding: 10px;
}
  */
span{
    color: #bf5672;
}
select {
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    outline: none;
    font-size: 1rem;
    margin-top: 10px;
    height: 30px;
    width: 120px;
}
/* .localizacao{
} */
.localizacao p{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    font-size: 1.4rem;
    padding: 15px 0px;
    color: #333
}

.shop {
    font-size: 1.2rem;
    margin-left: 16px;
    color: #444;
    text-decoration: underline;
}

a{
    font-weight: 400;
    font-family: sans-serif;
    color: black;    
}

.escolher-cidade {
    display: flex;
}

.btn{
    background-color: black;
    color: #bf5672;
    border: 0;
    font-family: "Zen Dots";
    font-size: 1rem;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
}
.botao{
    margin: auto;
    width: 1000px;
    display: flex;
    padding: 20px;
    justify-content: end;
}

 .assentos-escolhidos{
padding-top: 18px;
font-family: Arial, Helvetica, sans-serif;
margin-left: 20px;
font-size: 18px;
color: #333
} 

.escolhidos {
    font-weight: bold;
}

.assentos{
    width: 40px;
    height: 40px;
    cursor: pointer;
    appearance: none; /* Remove o estilo padrão */
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
}
.assentos:checked{
    background-color: #d15a72;
    border: 1px solid black;
    appearance: none; /* Remove o estilo padrão */
}
/* .div-geral{
    display: flex;
    color: white;
    justify-content: center;
 
} */
.tela{
    max-width: 710px;
    background-color: #ADB6C2;
    color: #21262D;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    margin-top: 18px;
}
.escolhidos {
    display: block;
    margin: auto;
    width: 1550px;
    overflow: none;
}
.caixa-assentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.caixa-assentos .numero, label {
    text-align: center;
    color: white;
    width: 40px;
    font-family: "Zen Dots";
}
#assentos109, #assentos110, #assentos111, #assentos112, #assentos113, #assentos114, #assentos115, #assentos116, #assentos117{
    background-color: black;
    cursor: auto;
}

.assento-selecionado {
    background-color: #d95f80;
    border: 2px solid #fff;
}
.assento-selecionado {
    background-color: #d95f80;
    color: #d95f80;
    border: 2px solid #d95f80;
}


/*RODAPÉ*/

/*ADICIONADO LINHA*/
.linha {
    display: flex;
    align-items: center;
    column-gap: .2rem;
}
/* Ajustes para telas pequenas */
@media screen and (max-width: 1054px) {
    .botao {
        justify-content: center;
        padding: 0;
        width: 100%;
    }
}
@media screen and (max-width:701px){
    .assentos{
        width: 20px;
        height: 20px;
        cursor: pointer;
        appearance: none; /* Remove o estilo padrão */
        background-color: white;
        border: 1px solid black;
        border-radius: 50%;
    }
    .caixa-assentos .numero, label {
        text-align: center;
        color: white;
        width: 20px;
        font-family: "Zen Dots";
    }
    .cinema{
        max-width: 400px;
    }
}
@media screen and (max-width:517px){
    .etapas-compra {
        background-color: #fff;
        width: 45px;
        height: 45px;
        margin: auto;
        border-radius: 50%;
        border: solid black 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .etapas-compra2 {
        background-color: #fff;
        width: 45px;
        height: 45px;
        margin: auto;
        border-radius: 50%;
        border: solid #bf5672 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .etapas-compra img{
        margin: auto;
        width: 30px;
        height: 30px;
        padding-top: 7px;
    }
    .etapas-compra2 img{
        margin: auto;
        width: 30px;
        height: 30px;
        padding-top: 7px;
    }
    .etapas-compra p{
        font-family: "Zen Dots";
        font-size: 0.54rem;
    }
    .etapas-compra2 p{
        font-family: "Zen Dots";
        font-size: 0.54rem;
        color: #bf5672;
    }
    #caixa {
        padding-top: 60px;
        text-align: center;
        display: flex;
        justify-content: space-around;
        margin: auto;
    }
    li{
        padding: 5px;
    }
    .botao{
        padding: 20px;
    }
}
 