@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
}

.logo {
    width: 210px;
}

.texto-total-produto {
    color: red
}

.box-one {
    display: flex;
}

ul a {
    font-family: "Zen Dots";
    color: black;
    text-decoration: none;
}


ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
    padding-right: 20px;
}

.etapas-compra {
    background-color: #fff;
    width: 65px;
    height: 65px;
    margin: auto;
    border-radius: 50%;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.etapas-compra4 {
    background-color: #fff;
    width: 65px;
    height: 65px;
    margin: auto;
    border-radius: 50%;
    border: solid #d15a72 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
#caixa {
    padding-top: 60px;
    text-align: center;
    display: flex;
}

.etapas-compra img {
    margin: auto;
    width: 50px;
    height: 50px;
    padding-top: 7px;
}
.etapas-compra4 img {
    margin: auto;
    width: 50px;
    height: 50px;
    padding-top: 7px;
}
.etapas-compra p {
    font-family: "Zen Dots";
    font-size: 0.8rem;
}
.etapas-compra4 p {
    font-family: "Zen Dots";
    font-size: 0.8rem;
    color: #d15a72;
}
main {
    margin: auto;
    max-width: 800px;
    min-width: 320px;
    margin-top: 90px;
}

.caixa-principal {
    margin: auto;
    border: solid #333 2px;
    width: 800px;
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
}

.first-box{
    display: flex;

}



.result-php {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    color: #333;
}

.title-php {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    color: #222;
}

.local-data {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 0;
}

.local {
    font-weight: 700;
    font-family: sans-serif;
}

.data {
    font-weight: 400;
    font-family: sans-serif;
    color: black;
}

.conferir-nota {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: sans-serif;
    font-weight: 549;
}

.total {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: 600;
    font-family: sans-serif;
}

.forma-de-pagamento {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.qr-code {
    display: flex;
    justify-content: flex-end;
}

img {
    background: none;
}

.labels {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.botao {
    padding: 60px;
    display: flex;
    justify-content: flex-end;
    margin: auto;
}

.btn {
    background-color: black;
    color: #d15a72;
    padding: 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    text-decoration: none;
    font-family: "Zen Dots";
}
.radio {
    width: 25px;
    height: 25px;
    cursor: pointer;
    appearance: none; /* Remove o estilo padrão */
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
}
.radio:checked{
    background-color: #d15a72;
    border: 1px solid black;
    appearance: none; /* Remove o estilo padrão */
}

/* Media Queries */
@media screen and (max-width: 895px) {
    .local-data {
        flex-direction: column;
        text-align: center;
    }

    .caixa-principal {
        width: 700px;
    }

    .botao {
        width: 700px;
    }

    .forma-de-pagamento {
        flex-direction: column;
    }
}

@media screen and (max-width: 780px) {
    .botao {
        width: 600px;
    }

    .caixa-principal {
        width: 600px;
    }
}

@media screen and (max-width: 663px) {
    .botao {
        width: 450px;
    }

    .caixa-principal {
        width: 500px;
    }

    .qr-code {
        margin: auto;
        width: 90px;
    }

    .labels {
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 527px) {
    .caixa-principal {
        width: 400px;
    }

    .botao {
        width: 350px;
    }
}
@media screen and (max-width:517px){
    .etapas-compra {
        background-color: #fff;
        width: 45px;
        height: 45px;
        margin: auto;
        border-radius: 50%;
        border: solid black 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .etapas-compra4 {
        background-color: #fff;
        width: 45px;
        height: 45px;
        margin: auto;
        border-radius: 50%;
        border: solid #d15a72 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .etapas-compra img{
        margin: auto;
        width: 30px;
        height: 30px;
        padding-top: 7px;
    }
    .etapas-compra4 img{
        margin: auto;
        width: 30px;
        height: 30px;
        padding-top: 7px;
    }
    .etapas-compra p{
        font-family: "Zen Dots";
        font-size: 0.54rem;
    }
    .etapas-compra4 p{
        font-family: "Zen Dots";
        font-size: 0.54rem;
        color: #d15a72;
    }
    #caixa {
        padding-top: 60px;
        text-align: center;
        display: flex;
        justify-content: space-around;
        margin: auto;
    }
    li{
        padding: 2px;
    }
    .caixa-principal{
        width: 300px;
    }
    .qr-code img{
        width: 120px;
        margin: auto;
    }
    
}
@media screen and (max-width: 663px){
    main{
        display: flex;
    }
    .caixa-principal{
        flex-direction: column;
        display: flex;
        gap: 20px;
        text-align: center;
    }
}
/*FOOTER*/
@media screen and (max-width: 914px){
    footer{
      flex-direction: column;
    }
  }
  @media screen and (max-width: 476px){
    .term{
      display: flex;
      flex-direction: column;
    }
  }