@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

/*CONTEÚDO CABEÇALHO*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  width: 100%;
  height: 100%;

  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #191815;
}

:root {
  --vermelho: #401c26;
  --cinza: #d9d9d9;
}

header {
  display: flex;
  background-color: var(--vermelho);
  box-sizing: border-box;
}
#navegacao {
  margin: auto;
  /*justify-content: space-between;*/
}
.logo-pesquisa{
  display: flex;
  gap: 20px;
}
.logo-pesquisa #pesquisa {
  margin: 17px 20px 0px 0px;
  width: 350px;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 1.2rem;
}
ul {
  display: flex;
  gap: 80px;
}

li {
  list-style: none;
  color: #fff;
  
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  opacity: 0.5s;
  color: #d95f80;
  transition: 200ms;
}

.login {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

#icon_ingresso {
  margin-left: 38px;
}

#icon_produto {
  margin-left: 35px;
}

#icon_local {
  margin-left: 45px;
}

#icon_profile {
  margin-left: 16px;
}

/*CONTEÚDO PRINCIPAL*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  max-width: 100%;
}
.img_banner {
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px 1px #d95f80;
  border-radius: 45px;
  border: none;

}

.foto {
  max-width: 100%;
  border-radius: 45px;
  border: 4px solid #fff;
  width: 929px;
  height:459px;
}

.arrow2,
.arrow1 {
  display: inline-block;
  font-size: 3rem;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0px;
  cursor: pointer;
}

.arrow1 {
  left: -40px;
}
.arrow2 {
  left: 20px;
}

.direita {
  position: relative;
}

.esquerda {
  position: relative;
}

/*SEÇÃO DAS IMAGENS*/

h1 {
  color: #fff;
  margin: 15px 0px 30px 0px;
}

.secao {
  margin: 50px;
}

/* .container_secao{
    /* display: flex; */

.imagem_section {
  max-width: 100%;
  height: 400px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 1px #d95f80;
}

.casa_arrow {
  position: absolute;
}

.arrow_esquerda_main,
.arrow_direita_main {
  color: #fff;
  position: relative;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  top: 170px;
  left: 100px;
}

.arrow_direita_main {
  /* display: inline-block; */
  left: 600px;
}

.container_imagens {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  /* max-width: 900px; */
  width: 100%;
}


/*RODAPÉ*/
footer {
  /*background-color: #a39f9f;*/
  background-color: #111;
  gap: 20px;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  font-size: 0.8rem;
  margin: 0px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 30px black;
}
footer img{
  width: 230px;
}
.term {
  display: flex;
  padding: 2rem;
  gap: 1.2rem;
}
.term p:hover{
  text-decoration: underline;
}
footer div p {
  display: flex;
  font-size: 0.8rem;
}
footer div a {
  /*color: #6a6868;*/
  color: #d95f80;
}

footer div select {
  outline: none;
  /*background-color: #a39f9f;
  color: #6a6868;*/
  background-color: black;
  color: #f5f5f5;
  font-size: 1.1rem;
}
.tampa {
  margin-left: 0px;
  font-size: 1rem;
}

.container_footer {
  display: flex;
  gap: 100px;
}


/* Modal */
#modal-ingressos {
  display: none;
  border: none;
  background: none;
  max-width: 100%;
  margin: auto;
  margin-top: 200px;
}

.modal-content {
  background-color: #252525;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
  color: rgb(224, 224, 224);
  border-radius: 10px;
  text-align: center;
}

.t1 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  justify-content: start;
  align-items: start;
  font-size: 20px;
}

.p1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  justify-content: start;
  align-items: start;
  padding: 10px 0px
}

.v1 {
  font-family: Arial, Helvetica, sans-serif;
  justify-content: start;
  align-items: start;
  font-size: 13px;
  color: grey;
}

.ingressos {
  font-weight: 500;
  padding: 20px 0px;
}

.close {
  font-size: 30px;
  cursor: pointer;
}

.close:hover {
  opacity: 2;
  color:#d95f80;
}

.tamanho {
  width: 267px;
  max-height: 400px;
}

/*MAIN*/
@media screen and (max-width: 1060px){
  .foto {
    max-width: 100%;
    border-radius: 45px;
    border: 4px solid #fff;
    width: 829px;
    height:459px;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
}
@media screen and (max-width: 960px){
  .foto {
    max-width: 100%;
    border-radius: 45px;
    border: 4px solid #fff;
    width: 729px;
    height:409px;
  }
  .imagem_section {
    max-width: 100%;
    width: 220px;
    height: 330px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px #d95f80;
  }
}
@media screen and (max-width: 855px){
  .foto {
    max-width: 100%;
    border-radius: 45px;
    border: 4px solid #fff;
    width: 629px;
    height:359px;
  }
}
@media screen and (max-width: 760px){
  .foto {
    max-width: 100%;
    border-radius: 45px;
    border: 4px solid #fff;
    width: 529px;
    height:309px;
  }
}
@media screen and (max-width: 660px){
  .foto {
    max-width: 100%;
    border-radius: 45px;
    border: 4px solid #fff;
    width: 464px;
    height:259px;
  }
  .arrow2,
  .arrow1{
    font-size: 2.3rem;
  }
  .imagem_section {
    max-width: 100%;
    width: 180px;
    height: 260px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px #d95f80;
  }
}
@media screen and (max-width: 560px){
  .foto {
    max-width: 100%;
    border-radius: 45px;
    border: 4px solid #fff;
    width: 359px;
    height:209px;
  }
  .imagem_section {
    max-width: 100%;
    width: 120px;
    height: 179px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px #d95f80;
  }
}
@media screen and (max-width: 514px){
  #modal-ingressos {
    display: none;
    border: none;
    background: none;
    max-width: 100%;
    margin: auto;
    margin-top: 200px;
  }
  
  .modal-content {
    background-color: #252525;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    color: rgb(224, 224, 224);
    border-radius: 10px;
    text-align: center;
  }
}
@media screen and (max-width: 460px){
  .foto {
    max-width: 100%;
    border-radius: 45px;
    border: 4px solid #fff;
    width: 330px;
    height:189px;
  }
}
@media screen and (max-width: 425px){
  .foto {
    max-width: 100%;
    border-radius: 45px;
    border: 4px solid #fff;
    width: 280px;
    height:159px;
  }
  .imagem_section {
    max-width: 100%;
    width: 100px;
    height: 139px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px #d95f80;
  }
  #modal-ingressos {
    display: none;
    border: none;
    background: none;
    max-width: 100%;
    margin: auto;
    margin-top: 200px;
  }
  
  .modal-content {
    background-color: #252525;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    color: rgb(224, 224, 224);
    border-radius: 10px;
    text-align: center;
  }
}
/*HEADER*/
@media screen and (max-width: 1238px){
  ul{
    gap: 40px;
  }
  .logo-pesquisa{
    gap: 0px;
  }
  .logo-pesquisa #pesquisa {
    margin: 17px 0px 0px 0px;
    width: 270px;
    height: 35px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 1.2rem;
  }
  header{
    gap: 10px;
  }
}
@media screen and (max-width: 981px){
  header {
    display: flex;
    background-color: var(--vermelho);
    flex-direction: column;
  }
  .logo-pesquisa{
    display: flex;
    margin: auto;
    gap: 120px;
  }
  .logo-pesquisa #pesquisa{
    margin: 17px 0px 0px 0px;
  }
  ul{
    gap: 120px;
  }
}
@media screen and (max-width: 741px){
  ul{
    gap: 60px;
  }
  .logo-pesquisa{
    display: flex;
    justify-content: space-between;
    gap: 0px;
  }
  header {
    display: flex;
    background-color: var(--vermelho);
    flex-direction: column;
  }
}
@media screen and (max-width: 566px){
  ul{
    gap: 25px;
    width: 100%;
  }
  .logo-pesquisa #pesquisa {
    margin: 17px 0px 0px 0px;
    width: 210px;
    height: 35px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 1.2rem;
  }
  .logo-pesquisa #navegacao{
  }
}
@media screen and (max-width: 456px){
 
}