@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: #fff;
}
body {
    margin: 0;
    padding: 0;
    background: #fff;
  }
  
  #container_principal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px 0px 0px 0px;
  }
  
  .arrow_back {
    width: 40px;
    margin: 1rem;
  }
  
  #grid {
    /* display: flex; */
  
    height: 910px;
    padding: 0px;
    margin: 0;
    width: 100%;
  }

 .back-button {
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-right: 20px;
}

span {
    margin: 0px;
    padding: 0px;
}

.topo {
    display: flex;
    align-items: center;
    margin-top: 20px;
}


.h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #000000;
}


.product-section {
    text-align: center;
    margin-top: 20px;
    display: block;
}

.product-section h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    color: rgb(59, 59, 59);
}

.product-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: left;

}

.product-content {
    display: flex;
    align-items: center;
}

.product-image {
    width: 500px; 
    margin-right: 50px; 
    border-radius: 18px;

}

.product-info {
    display: flex;
    flex-direction: column; 
    gap: 10px;
}


.rating {
    font-size: 18px;
    color: #FFF500;
}

.unisex {
    margin: 10px 0;
    font-weight: bold;
    font-size: 16px;
}

.sizes button {
    background-color: #1a1a1a;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
}

.price {
    font-size: 24px;
    color: #e71133;
    margin: 20px 0;
}

.free-shipping {
    font-size: 12px;
    color: #D9D9D9;
    margin-bottom: 20px;
}

.buy-button {
    background-color: #000000;
    color: #BF5672;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;  
}

.buy-button:hover {
    opacity: 4;
    background: #BF5672 ;
    color: #000000;
    transition: 0.5s;
}

.cart-notification {
    position: relative;
    display: inline-block;
    margin-left: 10px; /* Ajuste a margem para alinhar corretamente */
}

.not {
    position: absolute;
    top: -2px; /* Posição ajustada para alinhar a bolha vermelha ao ícone */
    right: -10px; /* Ajuste conforme o tamanho do ícone */
    background-color: red;
    color: white;
    border-radius: 1000%;
    padding: 1px 2px; /* Diminuir o tamanho da bolha vermelha */
    font-size: 10px; /* Diminuir o tamanho do texto dentro da bolha */
    font-weight: bold;
    line-height: 1;
    min-width: 20px; 
    text-align: center;
    cursor: pointer;
}

.img {
    max-width: 100%;
    width: 500px;
    /* height: 400px; */
}

.port {
    margin-left: 0px ;
}
/* .btn {
    width: 323.58px;
} */
.fa {
    font-size: 50px;
}
.cinza {
    color: #D9D9D9;
}
.fa {
    font-size: 30px;

}

.size-button.selected {
  background-color: white; /* Cor de fundo branco para o botão selecionado */
  color: black; /* Texto preto para o botão selecionado */
  border: 1px solid black; /* Borda preta */
}
#icon_produto{
  color: #d95f80;
}
.li-1 a{
  color: #d95f80;
}
/*HEADER*/
  @media screen and (max-width: 1238px){
    ul{
      gap: 40px;
    }
    .logo-pesquisa{
      gap: 0px;
    }
    .logo-pesquisa #pesquisa {
      margin: 17px 0px 0px 0px;
      width: 270px;
      height: 35px;
      padding: 10px;
      border-radius: 10px;
      outline: none;
      border: none;
      font-size: 1.2rem;
    }
    header{
      gap: 10px;
    }
  }
  @media screen and (max-width: 981px){
    header {
      display: flex;
      background-color: var(--vermelho);
      flex-direction: column;
    }
    .logo-pesquisa{
      display: flex;
      margin: auto;
      gap: 120px;
    }
    .logo-pesquisa #pesquisa{
      margin: 17px 0px 0px 0px;
    }
    ul{
      gap: 120px;
    }
  }
  @media screen and (max-width: 741px){
    ul{
      gap: 60px;
    }
    .logo-pesquisa{
      display: flex;
      justify-content: space-between;
      gap: 0px;
    }
    header {
      display: flex;
      background-color: var(--vermelho);
      flex-direction: column;
    }
  }
  @media screen and (max-width: 566px){
    ul{
      gap: 25px;
      width: 100%;
    }
    .logo-pesquisa #pesquisa {
      margin: 17px 0px 0px 0px;
      width: 210px;
      height: 35px;
      padding: 10px;
      border-radius: 10px;
      outline: none;
      border: none;
      font-size: 1.2rem;
    }
    .logo-pesquisa #navegacao{
    }
  }
  @media screen and (max-width: 456px){
   
  }
/*MAIN  */
  @media screen and (max-width: 1020px){
    .product-content {
        display: block;
        align-items: center;
    }
    .product-image {
        width: 500px; 
        margin-right: 0px; 
        border-radius: 18px;
    
    }
  }
  @media screen and (max-width: 604px){
    .product-card {
        background-color: #ffffff;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
        display: inline-block;
        text-align: left;
    
    }
    .h1 {
        font-size: 1.4rem;
        font-weight: bold;
        color: #000000;
    }
    #seta{
        width: 30px;
    }
    .product-content {
        align-items: center;
        margin: auto;
    }
  }
  @media screen and (max-width: 534px){
    .product-image {
        width: 340px; 
        margin-right: 0px; 
        border-radius: 18px;
    
    }
    .h1 {
        font-size: 1.3rem;
        font-weight: bold;
        color: #000000;
        

    }
    #seta{
        width: 26px;
    }
  }